body {
  margin: 10px;
  padding: 5px;  
  background-color:skyblue;
}

         body {
          font-family: Arial;
          margin: 0;
        }
        
        
        .header {
          padding: 2px; 
          text-align: center;
          background: #011f2b;
          text-shadow:rgb(5, 224, 240);
          color: white;
          font-size: 10px;
        }
        
    
    .image-section {
      float: right;
      width: 50%;
      
      

  }

    .image-section img {
      width: 60%;
      height: 50%;
     
  }
        .content {
            font-size: 20px;
            font-family: serif;
            color: rgb(4, 0, 12);
        }
        
        
        
        .heading {
            font-family: cursive;
            font-style: oblique;
            font-size: 15px;
            text-align: center;
        }
        
    

         footer {
          padding: 2px; 
          text-align: center;
          background: #011f2b;
          text-shadow:rgb(5, 224, 240);
          color: white;
          font-size: 10px;

        }
        
        @media only screen and (max-width:770px) {
          .logo {
              width: 100%;
              text-align: center;
              font: size 2.5em; 
          }
          .search{ display: none;}
          #mode{ display: none;}
              nav{
                  padding: 0 15px;
      
          }
          .menu{ width: 100%; text-align:center;}
          .container{
              text-align: center;
              padding: 20px 40px;
              flex-direction: column-reverse;
      
          }
      }    
        